<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ArmadoServ</servlet-name>
        <servlet-class>Control.ArmadoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaPerServ</servlet-name>
        <servlet-class>Control.AsignaPerServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCambiosServ</servlet-name>
        <servlet-class>Control.ControlCambiosServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FitoProductoServ</servlet-name>
        <servlet-class>Control.FitoProductoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FitosanidadServ</servlet-name>
        <servlet-class>Control.FitosanidadServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradoServ</servlet-name>
        <servlet-class>Control.GradoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineaServ</servlet-name>
        <servlet-class>Control.LineaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaestroServ</servlet-name>
        <servlet-class>Control.MaestroServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaterialsecoServ</servlet-name>
        <servlet-class>Control.MaterialsecoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuServ</servlet-name>
        <servlet-class>Control.MenuServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParametroServ</servlet-name>
        <servlet-class>Control.ParametroServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasoServ</servlet-name>
        <servlet-class>Control.PasoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisoServ</servlet-name>
        <servlet-class>Control.PermisoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PoscosechaServ</servlet-name>
        <servlet-class>Control.PoscosechaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreliminarServ</servlet-name>
        <servlet-class>Control.PreliminarServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoServ</servlet-name>
        <servlet-class>Control.ProductoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolServ</servlet-name>
        <servlet-class>Control.RolServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoServ</servlet-name>
        <servlet-class>Control.TipoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServ</servlet-name>
        <servlet-class>Control.UsuarioServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VariedadServ</servlet-name>
        <servlet-class>Control.VariedadServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcacionServ</servlet-name>
        <servlet-class>Control.MarcacionServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartesServ</servlet-name>
        <servlet-class>Control.PartesServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServ</servlet-name>
        <servlet-class>Control.ClienteServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArmadoServ</servlet-name>
        <url-pattern>/armados.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaPerServ</servlet-name>
        <url-pattern>/asignapers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCambiosServ</servlet-name>
        <url-pattern>/controlcambios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FitoProductoServ</servlet-name>
        <url-pattern>/fitoproductos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FitosanidadServ</servlet-name>
        <url-pattern>/fitosanidads.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradoServ</servlet-name>
        <url-pattern>/grados.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineaServ</servlet-name>
        <url-pattern>/lineas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaestroServ</servlet-name>
        <url-pattern>/maestros.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaterialsecoServ</servlet-name>
        <url-pattern>/materialsecos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuServ</servlet-name>
        <url-pattern>/menus.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParametroServ</servlet-name>
        <url-pattern>/parametros.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasoServ</servlet-name>
        <url-pattern>/pasos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisoServ</servlet-name>
        <url-pattern>/permisos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PoscosechaServ</servlet-name>
        <url-pattern>/poscosechas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreliminarServ</servlet-name>
        <url-pattern>/preliminars.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoServ</servlet-name>
        <url-pattern>/productos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolServ</servlet-name>
        <url-pattern>/rols.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoServ</servlet-name>
        <url-pattern>/tipos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServ</servlet-name>
        <url-pattern>/usuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VariedadServ</servlet-name>
        <url-pattern>/variedads.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcacionServ</servlet-name>
        <url-pattern>/marcacions.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartesServ</servlet-name>
        <url-pattern>/partes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServ</servlet-name>
        <url-pattern>/clientes.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
