<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServ</servlet-name>
        <servlet-class>Control.UsuarioServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisoServ</servlet-name>
        <servlet-class>Control.PermisoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolServ</servlet-name>
        <servlet-class>Control.RolServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaPerServ</servlet-name>
        <servlet-class>Control.AsignaPerServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArmadoServ</servlet-name>
        <servlet-class>Control.ArmadoServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlCambiosServ</servlet-name>
        <servlet-class>Control.ControlCambiosServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fitosanidad</servlet-name>
        <servlet-class>Control.Fitosanidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradosServ</servlet-name>
        <servlet-class>Control.GradosServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LineaServ</servlet-name>
        <servlet-class>Control.LineaServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Maestro</servlet-name>
        <servlet-class>Control.Maestro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaestroServ</servlet-name>
        <servlet-class>Control.MaestroServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcacionServ</servlet-name>
        <servlet-class>Control.MarcacionServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FitoProductoServ</servlet-name>
        <servlet-class>Control.FitoProductoServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServ</servlet-name>
        <url-pattern>/usuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisoServ</servlet-name>
        <url-pattern>/permisos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolServ</servlet-name>
        <url-pattern>/rols.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaPerServ</servlet-name>
        <url-pattern>/asignapers.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArmadoServ</servlet-name>
        <url-pattern>/armados.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlCambiosServ</servlet-name>
        <url-pattern>/controlcambios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FitosanidadServ</servlet-name>
        <url-pattern>/fitosanidad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradosServ</servlet-name>
        <url-pattern>/grados.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineaServ</servlet-name>
        <url-pattern>/linea.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaestroServ</servlet-name>
        <url-pattern>/maestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcacionServ</servlet-name>
        <url-pattern>/marcacion.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FitoProductoServ</servlet-name>
        <url-pattern>/fitoproducto.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
