/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}
html{
    height: 100%;
}
.bodyfull{
    height: 100%;
    display: flex;
    flex-direction:
        column;justify-content: space-between;
}
.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}
/*
* Made By H-tech.com
*/

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.header{
    display: flex !important;
    justify-content: space-between !important;
}
.modal-session{
    width: 40%;
}
.text-center{
    text-align: center!important;
}
.text-hover {
    color:#039be5 !important;
}
.text-hover:hover{
    color: #ff6348 !important;
}
.btn-session{
    z-index: 99;
    background: none;
}
.btn-floating:hover {
    background-color: #ffffff59;
}
.permisos{
    display: flex;
    flex-wrap: wrap;
}
[type="checkbox"]:checked + span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #9c27b0 !important;
    border-bottom: 2px solid #9c27b0 !important;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"]:checked + span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #9c27b0;
    border-bottom: 2px solid #9c27b0;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.padding2{
    padding: 2%;
}
@media only screen and (max-width: 900px){
    .modal-session{
        width: 50%;
    }
}

@media only screen and (max-width: 660px){
    .modal-session{
        width: 100%;
    }
}

#hitArea{
    cursor:pointer; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 

}
#base{
    stroke:#263238;
} 

#lineSelector{
    stroke:#F44336;
}

/* ------------------------------------------------------------------  */

.switchstad{
    height: 0;
    width: 0;
    visibility: hidden;
}

.labelstad {
    cursor: pointer;
    text-indent: -9999px;
    width: 3.5rem;
    height: 2rem;
    background: #9c8383;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background: #9c27b0;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

